:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: hsl(120, 32%, 20%);
}

img {
  display: block;
  width: 100%;
  /* Borde aquí porque todas mis imagenes son iguales */
  border-radius: 8% / 5%;
}

h1 {
  font-size: clamp(1rem, 6vh, 2.5rem);
  line-height: 1.1;
  margin: 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 0.6em;
  font-size: clamp(0.8rem, 3vh, 1.15rem);
  font-weight: 600;
  font-family: inherit;
  background-color: hsl(69, 100%, 96%);
  color: black;
  cursor: pointer;
  transition: border-color 0.25s;
  letter-spacing: 0.8px;
  flex: 1;
}

button:hover {
  border-color: #000000;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button:disabled {
  color: rgba(0, 0, 0, 0.457);
}

.flow > * + * {
  --flow: 3.5vh;
  --flow: min(3.5vh, 5rem);
  margin-top: var(--flow);
}

.game {
  max-width: 500px;
  width: 85%;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  background-color: hsl(120, 31%, 20%);
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.cards {
  --gap: 2rem;
  display: flex;
  gap: var(--gap);
  justify-content: space-between;
  max-width: 50vh;
  margin-left: auto;
  margin-right: auto;
}

.card__place {
  width: 50%;
}

.card__deck {
  -webkit-perspective: 700px;
  perspective: 700px;
  width: 50%;
}
.card__transition {
  position: absolute;
  top: 0;
  width: 100%;
  margin: 0 auto;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;

  z-index: -1;
  opacity: 0;
  transform: translateX(0%) rotateY(0deg);
}

.card__transition--move {
  /* Transition está aqui, para forzar la animación hacia un lado */
  -webkit-transition: -webkit-transform 1.5s ease;
  -webkit-transition: transform 1.5s ease;
  transition: transform 1.5s ease;
  z-index: 1;
  opacity: 1;
  /* -180 movimiento más real en solitario zurdo. 180 se ve antes la nueva carta, pero la animacion hace algo extraño */
  transform: translateX(calc(100% + var(--gap))) rotateY(-180deg);
}

.card__img {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card__img--front {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.card--opacity {
  opacity: 0;
  -webkit-transition: -webkit-transform 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.display {
  text-align: left;
  margin-bottom: 0;
  font-size: clamp(1.2rem, 4.5vh, 2rem);
}

.display__score {
  padding-left: 2rem;
}

.display__solution {
  text-align: center;
  margin-bottom: 0;
  font-size: clamp(1.2rem, 4.5vh, 2rem);
  color: hsl(67, 100%, 69%);
  line-height: 1.2em;
  position: relative;
  opacity: 0;
  min-height: 2.4em;
  transition: opacity 0.5s ease-in-out;
}

.display__solution--show {
  opacity: 1;
}

.game__action {
  --flow: min(3.5vh, 8rem);
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.8rem;
  gap: 0.8rem;
}

.btn--secondary {
  flex: 1;
  background-color: hsl(0, 0%, 0%);
  color: white;
}
.btn--secondary:disabled {
  background-color: hsl(0, 0%, 17%);
  color: rgb(158, 158, 158);
}
.btn--center {
  margin-left: auto;
  margin-right: auto;
}

.btn--hiden {
  display: none;
}
